.form-list{
    width: 100%;
}

section .form-main{
    margin: 0 auto;
    width: 720px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-block: 30px;
}

form .input-item{
    width: 300px;

}



.form-list form{
    display: flex;
    justify-content: end;
    gap: 10px;
}


.form-list input{
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border-radius: 6px;
    border: 0px;
    background-color: var(--input-text);
    color: white;
}
form .input-categoria{
    width: 140px;

}
form select{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 6px;
    border: 0px;
    font-size: 12px;
    background-color: var(--input-text);
    color: white;
}


.form-list p{
    color: var(--label-color);
    font-size: 12px;
}



.submit-form{
    width: 50px;
    display: flex;
    align-items:end;
}

.submit-form button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--color-button);
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    
}