
header{
    background-image: url(../assets/Image.svg);
    width: 100%;
    height: 185px;
}

.title-header{
    margin: 0 auto;
    width: 720px;
    height: 100%;
    display: flex;
    align-items: center;
}

header h1{
    color: var(--title-color);   
    font-size: 24px;
    font-weight: bold;
    
}

