.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


section .item-list{
    width: 720px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    background-color: var(--item-list-bg);
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 9px;
}

section .name-item{
    display: flex;
    align-items: center;
    gap: 16px;
    line-height: 20px;
}

.Descricao-item h3{
    color: white;
    font-size: 16px;
}

.Descricao-item label {
    color: var(--label-color);
    font-size: 12px;
}

section .categoria-item{
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    font-size: 14px;
}

.icon-opcoes{
    display: flex;
    align-items: center;
}

.icon-opcoes img{

    cursor: pointer;
}